body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #c8c8c8;
	background:linear-gradient(to right,#A7ADBA,#C0C5CE);
	 
	background-position: left top;
	margin: 37px 0px 0px 0px;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea {
	padding: 0px;
	margin: 0px;
}
a {
	color: #70e7ff;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
.main {
	width: 989px;
	margin:0px auto;
}
.page, .header {
	width: 989px;
	float: left;
}
.banner {
	background-image: url(../images/header.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 989px;
	height: 203px;
	float: left;
}
.banner h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 48px;
	line-height: 100%;
	color: #FFFFFF;
	margin-left: 391px;
	margin-top: 72px;
}
.topmenu {
	width: 989px;
	height: 38px;
	float: left;
    background: #9E379F;
}
.topmenu ul {
	list-style-type: none;
}
.topmenu ul li {
	display: inline;
	padding: 0px 22px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.topmenu ul li a {
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	color: #FFFFFF;
	text-decoration: none;
}
.topmenu ul li a:hover {
	text-decoration: underline;
}
.content {
	 
	background:#A7ADBA;
	background-repeat: no-repeat;
	background-position: left top;
	width: 989px;
	float: left;
	padding-top: 20px;
}
.content-in {
	 background:linear-gradient(to right,#D43FA3,#9DD0D7);
	background-position: left bottom;
	width: 948px;
	float: left;
	padding-left: 20px;
	padding-right: 21px;
	padding-bottom: 20px;
}
.left-panel {
	width: 238px;
	float: left;
}
.left-panel h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	line-height: 48px;
	color: #f1f1f1;
	background:#BE29EC;
	background-repeat: no-repeat;
	background-position: left top;
	height: 48px;
	padding-left: 17px;
}
.gap {
	height: 9px;
	clear: both;
}
.left-content {
	background-color: #fff;
	background:rgba(39,39,39,0.5);
	background-repeat: no-repeat;
	background-position: left bottom;
	clear: both;
	padding-bottom: 24px;
}
.left-content ul {
	padding-right: 18px;
	padding-left: 18px;
	list-style-type: none;
}
.left-content ul li {
	
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 29px;
	color: #000000;
	text-decoration: none;
	background-position: 7px center;
	text-align: left;
	display: block;
	height: 29px;
	padding-left: 35px;
}
.left-content ul li a {
	color: #fff;
}
.left-content ul li a:hover {
	color: #D43FA3;
}
.left-content ol {
	padding-right: 11px;
	padding-left: 11px;
	list-style-type: none;
}
.left-content ol li {
	color: #000000;
	background-position: left 24px;
	padding-left: 16px;
	padding-top: 20px;
}
a.more {
	font-size: 12px;
	color: #ff0303;
	text-decoration: none;
	text-align: right;
}
a.more:hover {
	text-decoration: underline;
}
.right-panel {
    background: rgba(39,39,39,0.5);
	background-position: left top;
	width: 698px;
	float: right;
	padding-top: 16px;
}
.right-panel-in {
	 background: rgba(39,39,39,0.6)
	background-position: left bottom;
	width: 698px;
	float: left;
	padding-bottom: 16px;
}
.right-panel-in strong {
	color: #FFFFFF;
}
.row {
	clear: both;
}
.title {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	line-height: 25px;
	color: #fafafa;
	background-color: #BE29EC;
	height: 25px;
	padding-left: 34px;
}
.title span {
	background-color: #D43FA3;
	padding-right: 5px;
	padding-left: 5px;
}
.title span span {
	color: #FABFB1;
	padding: 0px;
}
.copyright {
	border: 0px;
	height: 1px;
	width: 1px;
}
.row2 {
	clear: both;
	padding: 14px 35px 55px 44px;
}
ul.list-home {
	list-style-type: none;
}
ul.list-home li {
	background-image: url(../images/round-bullet.jpg);
	background-repeat: no-repeat;
	background-position: left 4px;
	padding-left: 25px;
	margin-top: 10px;
}
.vline {
	background-image: url(../images/vline.jpg);
	background-repeat: no-repeat;
	background-position: 340px top;
	width: 689px;
	float: left;
	padding-right: 9px;
}
.section1 {
	width: 320px;
	float: left;
}
.section2 {
	width: 320px;
	float: right;
}
a.more2 {
	 margin:0px;
	padding:0px 11px 0px 11px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#000;
    background: #9DD0D7;
	font-weight:bold;
	float:right;
	}

a.more2:hover{
	text-decoration: none;
    background-color: #EFBBFF;
    
}
.footer {
	line-height: 61px;
	background:linear-gradient(to left,#F01493,#D43FA3,#9DD0D7);
	background-repeat: no-repeat;
	background-position: left top;
	width: 949px;
	height: 61px;
	float: left;
	padding: 0px 20px;
}
.footer p {
	font-size: 12px;
	color: #FFFFFF;
	float: left;
}
.footer ul {
	float: right;
	list-style-type: none;
}
.footer ul li {
	display: inline;
	padding: 0px 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.footer ul li a {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.footer ul li a:hover {
	 background: #A7ADBA;
    margin: 10px;
    padding: 10px;
}
